/*
            BRIEF LAYOUT
        */
.logo-wrapper img {
  /*width: 189px;*/
  /*height: 73px;*/
  margin: 10px 0px;
}
.logo-wrapper h3 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  color: #fff;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 2px;
  font-weight: 800;
}
.cc {
  margin-top: 24px !important;
}
.logo-wrapper a {
  text-decoration: none;
}
.logo-wrapper h3 span {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 8.4px;
}
section.briefForm {
  margin-top: 0px;
}

ul.asstxt {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.asstxt li {
  display: block;
  text-align: left;
}

ul.asstxt li span {
  font-weight: 900;
  color: #4e42d4;
}

.logo-style {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
}

.logo-style li i {
  margin: 0;
  padding: 0;
  display: block;
}

.logo-style li {
  display: inline-block;
  margin: 0 10px 29px 0;
}

.logo-style li p {
  display: block;
  margin: 8px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #4e42d4;
}
.logo-wrapper {
  width: 260px;
  /* padding: 10px 0 0; */
}
.submit-buttons {
  background: #fe7443;
  border-radius: 7px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  min-width: 100px;
  border: 0;
  text-transform: uppercase;
  padding: 20px 0px;
  margin-top: 20px;
}
.get-quote {
  /* margin: 15px 0 0 0; */
  padding: 10px 15px;
  background: #0d356d;
  border-radius: 7px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  min-width: 100px;
  border: 0;
  text-transform: uppercase;
}
.briefForm label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 15px;
}

.briefForm .form-control {
  padding: 12px 15px;
  font-size: 18px;
}

.briefForm .form-control::placeholder {
  color: #bbb;
}

.briefForm .form-select {
  padding: 12px 15px;
  font-size: 18px;
}

/*
            SIDE PACKAGE
        */
.boxpackages .call,
.boxpackages .chat {
  text-align: center;
  display: block;
  text-decoration: none;
  color: #e42422;
  font-weight: 600;
}

.boxpackages .call span small,
.boxpackages .chat span small {
  display: block;
  font-weight: 600;
}
/*.need {*/
/*    margin: 35px 0 0 0;*/
/*    padding: 20px 20px;*/
/*    display: block;*/
/*    width: 100%;*/
/*    position: relative;*/
/*    border: 1px solid #ced4da;*/
/*    border-radius: 20px;*/
/*}*/

.need {
  border-left: 2px solid #fe7443;
  background: rgb(255 255 255 / 95%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 20px 20px;
  margin-top: 40px;
}
.cardyear {
  margin: 49px 0 0 0;
  padding: 0;
}
.submit-btn {
  min-width: 150px;
  padding: 15px 15px;
  font-size: 18px;
}
.briefForm hr {
  margin: 19px 0 10px;
  width: 100%;
}
span.cards {
  margin: 16px 0 0 0;
  padding: 0;
  display: block;
}
.secu-img {
  margin: 35px 0 0;
  display: block;
}
.need h2 {
  color: #000;
}

.need ul {
  margin: 0;
  padding: 0;
  color: #4e42d4;
}

.need ul li a {
  display: block;
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
  color: #e42422;
}

.need ul li a span {
  display: block;
  text-decoration: none;
  font-weight: 600;
}
/*.boxpackages {*/
/*    margin: 0;*/
/*    padding: 25px 25px;*/
/*    display: block;*/
/*    position: relative;*/
/*    border-radius: 20px;*/
/*    border: 1px solid #ced4da; */
/*    box-shadow: 0 0 17px rgb(204 204 204 / 54%);*/
/*}*/

.boxpackages {
  border-left: 2px solid #fe7443;
  background: rgb(255 255 255 / 95%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 20px 20px;
}

.boxpackages .package_head {
  font-size: 16px;
}
.package_head {
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
}

.package_head .title {
  font-size: 32px;
  font-weight: 700;
  display: inline-flex;
}

.package_head .price-box {
  display: block;
  clear: both;
  float: inherit;
}
.package_head .price-box .price {
  font-size: 48px;
  font-weight: 800;
  float: left;
  display: block;
}
.package_head .price-box .cut-price {
  margin: 0;
  padding: 12px 0 0 9px;
  color: red;
  font-size: 18px;
  font-weight: 600;
  display: block;
  text-align: left;
  /* vertical-align: middle; */
  visibility: hidden;
}

.package_head .price-box .cut-price strike {
  display: block;
  text-align: left;
  font-weight: 700;
  font-size: 17px;
  line-height: 1;
}
.package_head .price-box .cut-price span {
  text-align: left;
  line-height: 1;
  font-weight: 700;
}
.package_head p.desc {
  display: block;
  width: 100%;
  margin: 26px 0 20px 0;
  font-size: 15px;
  line-height: normal;
}
/*
    Thank You
*/
.thanks-top {
  text-align: center;
  display: block;
}

.thanks-top .sm-title {
  font-size: 28px;
  font-weight: 600;
}

.thanks-top p {
  text-align: center;
  font-size: 18px;
  color: #838383;
}

.thanks-top .big-title {
  font-size: 48px;
  font-weight: 800;
  color: #000;
}

h4.f-title {
  font-size: 21px;
  font-weight: 800;
  color: #1ee32d;
}
section.disclaimer {
  background: #222;
  color: #fff;
  margin: 0;
  padding: 28px 0 16px 0;
}
.touch {
  text-align: center;
  margin: 35px 0 0;
}
.icon-box {
  margin: 0;
  display: block;
  position: relative;
}
.icon-box a {
  text-decoration: none;
}
.icon-box span.icon {
  width: 80px;
  height: 80px;
  background: #e1e1e1;
  border-radius: 50px;
  display: block;
  margin: auto;
  overflow: hidden;
}

.icon-box span.icon img {
  width: 48px;
  height: 100%;
  margin: auto;
  text-align: center;
  display: block;
}

.icon-box p {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.icon-box span a {
  font-size: 21px;
  text-decoration: none;
  color: #0d356d;
}
.get-quote:hover {
  color: #0d356d;
  background: #fff;
}
@media screen and (max-width: 767px) {
  .logo-wrapper {
    width: 260px;
    margin: auto;
  }
  .top-btn {
    margin: 7px auto 4px;
    text-align: center;
    display: block;
  }
  .logo-wrapper img {
    width: 189px;
    height: 73px;
    margin: auto;
    display: block;
  }
  .chat {
    text-align: center;
    margin: 20px 0px 0px 10px !important;
  }
}
@media screen and (max-width: 991px) {
  .b-navigation__menu-right {
    display: flex;
    justify-content: center;
    pointer-events: auto;
    margin: 47px auto 12px auto;
  }

  section.briefForm {
    margin-top: 20px;
  }

  .seqImg {
    margin: 0 0 45px 0;
    padding: 0;
  }

  section.briefForm .pe-5 {
    padding-right: 0 !important;
  }

  .sidebar {
    margin: 0 0 25px 0;
  }
}

header .container .row {
  align-items: center;
}
header {
  position: absolute;
  left: 0;
  right: 0;
  padding: 40px 0;
}

header .container .row .col-md-7 {
  text-align: right;
}

.prefered-logo-designs .logo-box img {
  width: 100%;
  padding: 8px;
  border: 3px solid #0d356d;
  border-radius: 4px;
  transform: scale(1);
  transition: all 0.6s;
  background: white;
  position: relative;
}

.prefered-logo-designs .logo-box {
  cursor: pointer;
}

.prefered-logo-designs .logo-box:hover img {
  border: 3px solid red;
  transform: scale(1.4);
  transition: all 0.3s;
  z-index: 2;
}

.prefered-logo-designs .logo-box.active img {
  border: 3px solid red;
  transform: scale(1);
  transition: all 0.3s;
  z-index: 2;
}

.prefered-logo-designs .logo-box p {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #0d356d;
}

/*new css start*/

section.briefForm {
  background: url(../../../assets/images/banner.png) !important;
  padding: 200px 0 !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
a.chat-btn {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 30px;
  border: 1px solid #fe7443;
  border-radius: 30px;
  background: #fe7443;
  font-size: 20px;
}

/*new css end*/

/* My CSS Start For Brief Form */
a.chat-btn {
  background: transparent;
  color: #fe7443;
  font-weight: 700;
}

a.chat-btn:hover {
  background: #fe7443;
  color: #fff;
  font-weight: 700;
}

.briefForm .main-title h2 {
  color: #334048;
  font-size: 50px;
  font-weight: 700;
}

.briefForm .main-title h2 span {
  color: #fe7443;
  font-size: 50px;
  font-weight: 700;
  text-decoration: underline;
}

#briefForm {
  padding-top: 50px;
  width: 80%;
}

.briefForm .form-control,
.briefForm select {
  padding: 12px 26px;
  font-size: 16px;
  background: transparent;
  color: black !important;
  border-radius: 50px;
  border: 1px solid #afb1b3;
  margin-bottom: 10px;
}

.briefForm textarea {
  border-radius: 20px !important;
}

.briefForm .btn-primary {
  background: #fe7443;
  width: 100%;
  color: white;
  font-weight: 700;
  border: 1px solid #fe7443;
  border-radius: 50px;
  padding: 15px 0;
}

.briefForm .btn-primary:hover {
  background: transparent;
  color: #fe7443;
}

section.briefForm {
  padding-bottom: 100px !important;
}

.briefForm .form-control::placeholder,
.briefForm select::placeholder,
.briefForm textarea::placeholder {
  color: #afb1b3 !important;
}

.briefForm select {
  font-size: 16px !important;
  color: #afb1b3 !important;
}

.briefForm select::placeholder {
  color: #afb1b3 !important;
}

.briefForm .form-control:focus,
.briefForm select:focus {
  box-shadow: none !important;
  border: 1px solid #94be47 !important;
}

/* Package Box CSS */
.boxpackages {
  background: #334048;
  border-radius: 40px;
  border-left: 0;
  padding: 50px;
  margin: 75px;
  margin-bottom: 0;
  margin-top: 20px;
}

.package_head .price-box .price {
  font-weight: 600;
  color: #fe7443;
  text-decoration: underline;
  border-left: 7px solid #95bf47;
  padding-left: 20px;
}

.package_head .title {
  font-size: 29px;
  font-weight: 600;
  color: #95bf47;
  padding-top: 20px;
}

.package_head p.desc {
  margin: 10 0;
  font-size: 15px;
  line-height: normal;
  color: white;
  line-height: 26px;
  font-weight: 300;
}

.boxpackages .package_content ul {
  padding-left: 20px;
  height: 220px;
  overflow-y: scroll;
  padding-right: 20px;
}

.boxpackages .package_content ul li {
  color: #fff;
  padding-top: 15px;
}

.boxpackages .package_content ul li::marker {
  color: #fd7543;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #95bf47;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fd7543;
}

.need {
  border-left: 0;
  backdrop-filter: blur(20px);
  background: rgb(255 255 255 / 8%);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 20px 20px;
  margin-top: -35px;
  text-align: center;
  border: 1px solid white;
  margin-left: 25px;
  margin-right: 25px;
}

.need h2 {
  color: #334048;
  font-weight: 700;
}

.need ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
  font-weight: 800;
  color: #fe7443;
}

.need ul li a span {
  display: block;
  text-decoration: none;
  font-weight: 400;
  color: #334048;
}

/* Resposive Brief Form CSS */
@media screen and (max-width: 991px) {
  section.briefForm {
    padding-bottom: 50px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-align: center;
  }

  #briefForm {
    padding-top: 50px;
    width: 100%;
  }

  .boxpackages {
    margin: 0;
    margin-top: 50px;
    text-align: left;
  }
}
